<h1> ORDERS INDEX </h1>
  <h2> TOTAL NUMBER OF ORDERS: <%= @orders.count %>
   <% @orders.each_slice(3) do |order_row| %>
    <div class="row">
      <% order_row.each do |order| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="<%= order.game.images.first.url %>" alt="<%= order.game.title %>" class="img-responsive">
            <h4> User ID: <%= order.user_id %> </h4>
            <h4> Game ID: <%= order.game.title %> </h4>
            <h4> Quantity: <%= order.quantity %> </h4>
            <h4> Total: <%= order.total %> </h4>


          </div>
        </div>
      <% end %> 
    </div>
  <% end %>