<h1> ORDERS INDEX </h1>
  <h2> TOTAL NUMBER OF ORDERS: <%= @orders.count %>
   <% @orders.each_slice(3) do |order_row| %>
    <div class="row">
      <% order_row.each do |order| %>
        <div class="col-md-4">
          <div class="thumbnail">


            <h4> Game: <%= @game.find_ %> </h4> 
            <h4> User ID: <%= order.user_id %> </h4>
            <h4> Subtotal: <%= order.subtotal %> </h4>
            <h4> Total: <%= order.total %> </h4>


          </div>
        </div>
      <% end %> 
    </div>
  <% end %>