<h1> GAMESTORE </h1>
  <h2> Click a game to edit details, 
  <br>
  or enter Game ID followed by Quantity to Purchase! </h2>

    <div>

      <%= form_tag '/orders', method: :post do %>
        <div>
          <%= text_field_tag :game_id, nil, placeholder: "Game ID from URL" %>
        </div>
        <div>
          <%= text_field_tag :quantity, nil, placeholder: "Desired Quantity"%>
        </div>
        <div>
            <%= submit_tag "YES!" %>
        </div>
      <% end %>

    </div>

    <br>
    <% @games.each_slice(3) do |game_row| %>
      <div class="row">
            <% game_row.each do |game| %>
              <div class="col-md-4">
                <div class="thumbnail">              
                    <h4><a href="/games/<%= game.id %>"><%= game.title %> </a> </h4>
                    <!-- multiple paths to the same end -->
                    <!-- <h2> <%= link_to game.title, "/games/#{game.id}" %> </h2> -->
                    <a href="/games/<%= game.id %>" title="View Game"><img src="<%= game.first_image %>" alt="<%= game.title %>" class="img-responsive game_single_image"> </a>
                    <h4> Price: <%= number_to_currency(game.price) %> </h4>
                    <h4> Genre: <%= game.genre %> </h4>
                    <h4> Availability: <%= game.availability %> </h4>
                    <h4> Supplier ID: <%= game.supplier_id %> </h4>
                </div>
            </div>
          <% end %> 
        </div>
      <%end%>