<body>
  <div class="games_info">
    <h2> <%= @game.title %> </h2>
    <h4> <%= @game.sale_message %> </h4>
    <h2> Price: <%= number_to_currency(@game.price) %> </h2>
    <h2> Genre: <%= @game.genre %> </h2>
    <h2> Availability: <%= @game.availability %> </h2>
    <h2> Supplier ID: <%= @supplier.name %> </h2>
    <h2> <% @game.sale_message %> </h2>

    <h6> <%= number_to_currency(@game.tax) %> is the tax.  </h6>
    <h6> <%= number_to_currency(@game.total) %> is the total. </h6>
    <% @game.images.each do |image_object| %>
      <img src="<%= image_object.url %>"" alt="<%= @game.title %>" class="img-responsive">
    <% end %>

  </div>
  
  <div class="games_bottomNav">
  <%= link_to 'Edit Game', "/games/#{@game.id}/edit" %>
  <p>
  <%= link_to 'Delete Game', "/games/#{@game.id}", method: :delete %>
  <p>
  </div>
</body>